.productlist{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #e4e4e4;
    padding: 20px;
    width: 1000px;
}

.conteiner{
    flex-basis: 600px;
    margin-right: auto;
    margin-left: 20px;
    width: 250px;
    padding-right: 20px;
    color: rgb(39, 39, 39);
}
.conteiner h3,h1,h2{
    text-align: left;
    margin: 4px;
}


.productlist img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}


.productlist button{
    background-color: #3E92FF; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 60px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 40px;
}

.productlist button:hover{
    background-color: #FFEA00;
    color: rgb(49, 49, 49);
}

.add{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 60px;
    
}

.spanmn{
    padding: 4px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    background-color: #fff;
}
.spanmn:hover{
    background-color: #3E92FF;
}

.spanpl{
    padding: 4px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    background-color: #fff;
    margin-left: 10px;
}
.spanpl:hover{
    background-color: #3E92FF;
}

.add input[type="text"]{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 4px;
    width: 100px;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
}


.butt {
    background-color: #3E92FF; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 2px;
    margin-bottom: 40px;
    width: 200px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.butt:hover {
    background-color: #FFEA00;
    color: rgb(49, 49, 49);
  }